extends layout/app

block page
 
    include chunk/header

    include chunk/description

    include chunk/about

    include chunk/numbers

    include chunk/skills

    include chunk/video

    include chunk/projects

    include chunk/clients
    
    include chunk/form

    include chunk/footer