section.description
        .container
            .description__wrap
                img(class="description__img", src="/img/coding.svg", alt="coding")
                .description-text 
                    .description-text__title Дизайн и верстка
                    .description-text__body Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    button(type="button").description-text__button написать мне