section.video
    .about
        .about__title Как я работаю
        .about__body
            | Lorem Ipsum - это текст-"рыба", часто используемый в печати и 
            br
            | вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
    .video__wrapper
        .video__img 
            img(src="img/video.jpg", alt="video")  
                  